// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for font-awesome
@import 'bootstrap/scss/bootstrap';


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $ss-light;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $ss-light;
  }
  &::-webkit-scrollbar-thumb {
    background: $ss-yellow;
  }
}
a {
  color: $ss-light;
  font-size: 1.2rem;
  &:hover {
    text-decoration: none;
    color: $ss-yellow;
  }
}
p {
  font-size: 1.2rem;
}
.footer-links {
  font-size: 1.6rem;
}

// footer {
//   position:absolute;
//   bottom:0;
//   width:100%;
// }
