// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for font-awesome
@import 'bootstrap/scss/bootstrap';


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $ss-light;
}
a {
  font-size: 1.2rem;
  &:hover {
    text-decoration: none;
    color: $ss-yellow;
  }
}
