<div class="d-flex flex-column justify-content-center align-items-center mb-5">
  <h1 class="mb-2">Contact Us</h1>
  <h2 class="mb-2">For any and all inquiries,</h2>
  <h2 class="mb-2">reach out to:</h2>
  <h2 class="mb-2">sunstrifefl@gmail.com</h2>
</div>
