.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
}
.nav-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $ss-light;
  font-size: 1.5rem;
}
.dropdown-content {
  justify-content: center;
  display: none;
  font-size: 1.1rem;
  font-weight: bolder;
}
#dropdown-links {font-size: 1rem;}
.show {display:block;}

.navbar-icon {
  width: 150px;
}
.active-link {
  margin: 0 60px;
  color: $ss-yellow;
}
.inactive-link {
  margin: 0 60px;
  color: $ss-light;
}
@media (max-width: 952px) {
  .active-link{
    margin: 0 30px;
  }
  .inactive-link {
    margin: 0 30px;
  }
}
@media (max-width: 718px) {
  .active-link{
    margin: 0 20px;
  }
  .inactive-link {
    margin: 0 20px;
  }
}
@media (max-width: 630px) {
  .navbar a {
    display: none;
  }
}
@media (min-width: 631px) {
  .nav-dropdown {
    display: none;
  }
}
@media (max-width: 378px) {
  #dropdown-links {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
