<div>
  <!-- Navbar -->
  <%= partial 'partials/navbar' %>
  <!-- Video -->
  <%= partial 'partials/video' %>
  <!-- Projects -->
  <%#= partial 'partials/projects' %>
  <!-- Skills -->
  <%#= partial 'partials/skills' %>
  <!-- Contact -->
  <%#= partial 'partials/contact' %>
</div>
