<div>
  <!-- Navbar -->
  <%= partial 'partials/navbar' %>
  <!-- About -->
  <%#= partial 'partials/about' %>
  <!-- Projects -->
  <%#= partial 'partials/projects' %>
  <!-- Skills -->
  <%#= partial 'partials/skills' %>
  <!-- Contact -->
  <%#= partial 'partials/contact' %>
</div>
